@charset "utf-8";


/*Rubik*/
@font-face {
    font-family: 'Rubik';
    src:   url('../fonts/Rubik-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
      font-family: 'Twitter Chirp';
      src: url('../fonts/Chirp-Heavy.eot');
      src: url('../fonts/Chirp-Heavy.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chirp-Heavy.woff2') format('woff2'),
          url('../fonts/Chirp-Heavy.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Twitter Chirp';
      src: url('../fonts/Chirp-Bold.eot');
      src: url('../fonts/Chirp-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chirp-Bold.woff2') format('woff2'),
          url('../fonts/Chirp-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Twitter Chirp';
      src: url('../fonts/Chirp-Regular.eot');
      src: url('../fonts/Chirp-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chirp-Regular.woff2') format('woff2'),
          url('../fonts/Chirp-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      font-display: swap;
  }

  @font-face {
      font-family: 'Twitter Chirp';
      src: url('../fonts/Chirp-Medium.eot');
      src: url('../fonts/Chirp-Medium.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Chirp-Medium.woff2') format('woff2'),
          url('../fonts/Chirp-Medium.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
  }

  @font-face{
    font-family:'Inter';
    src:url('../fonts/inter/static/Inter_18pt-Regular.ttf');
  src:  url('../fonts/inter/static/Inter_18pt-Regular.ttf'),
    url('../fonts/inter/static/Inter_18pt-Light.ttf'),
    url('../fonts/inter/static/Inter_18pt-Medium.ttf'),
    url('../fonts/inter/static/Inter_18pt-SemiBold.ttf'),
    url('../fonts/inter/static/Inter_18pt-Bold.ttf'),
    url('../fonts/inter/static/Inter_18pt-ExtraBold.ttf'),
    url('../fonts/inter/static/Inter_18pt-Black.ttf'),
    url('../fonts/inter/static/Inter_24pt-Thin.ttf'),
    url('../fonts/inter/static/Inter_24pt-ExtraLight.ttf'),
    url('../fonts/inter/static/Inter_24pt-Light.ttf'),
    url('../fonts/inter/static/Inter_24pt-Regular.ttf'),
    url('../fonts/inter/static/Inter_24pt-Medium.ttf'),
    url('../fonts/inter/static/Inter_24pt-SemiBold.ttf'),
    url('../fonts/inter/static/Inter_24pt-Bold.ttf'),
    url('../fonts/inter/static/Inter_24pt-ExtraBold.ttf'),
  url('../fonts/  static/Inter_24pt-Black.ttf'),
    url('../fonts/inter/static/Inter_28pt-Thin.ttf'),
    url('../fonts/inter/static/Inter_28pt-ExtraLight.ttf'),
    url('../fonts/inter/static/Inter_28pt-Light.ttf'),
    url('../fonts/inter/static/Inter_28pt-Regular.ttf'),
    url('../fonts/inter/static/Inter_28pt-Medium.ttf'),
    url('../fonts/inter/static/Inter_28pt-SemiBold.ttf'),
    url('../fonts/inter/static/Inter_28pt-Bold.ttf'),
    url('../fonts/inter/static/Inter_28pt-ExtraBold.ttf'),
    url('../fonts/inter/static/Inter_28pt-Black.ttf'),
    url('../fonts/inter/static/Inter_18pt-ThinItalic.ttf'),
    url('../fonts/inter/static/Inter_18pt-ExtraLightItalic.ttf'),
    url('../fonts/inter/static/Inter_18pt-LightItalic.ttf'),
    url('../fonts/inter/static/Inter_18pt-Italic.ttf'),
    url('../fonts/inter/static/Inter_18pt-MediumItalic.ttf'),
    url('../fonts/inter/static/Inter_18pt-SemiBoldItalic.ttf'),
    url('../fonts/inter/static/Inter_18pt-BoldItalic.ttf'),
    url('../fonts/inter/static/Inter_24pt-LightItalic.ttf'),
    url('../fonts/inter/static/Inter_24pt-Italic.ttf'),
    url('../fonts/inter/static/Inter_24pt-MediumItalic.ttf'),
    url('../fonts/inter/static/Inter_24pt-SemiBoldItalic.ttf'),
    url('../fonts/inter/static/Inter_24pt-BoldItalic.ttf'),
    url('../fonts/inter/static/Inter_24pt-ExtraBoldItalic.ttf'),
  url('../fonts/inter/static/Inter_24pt-BlackItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-ThinItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-ExtraLightItalic.ttf'),
  url('../fonts/inter/static/Inter_28pt-LightItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-Italic.ttf'),
    url('../fonts/inter/static/Inter_28pt-MediumItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-SemiBoldItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-BoldItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-ExtraBoldItalic.ttf'),
    url('../fonts/inter/static/Inter_28pt-BlackItalic.ttf');
  }


  body{font-family:'Twitter Chirp';padding-top:5rem;font-size:1.3rem}
    /*body{
           background-image: url("../images/background.jpg");
          background-attachment: fixed;
           background-repeat: repeat;
       }*/
@media only screen and (max-width:860px){body {font-size:1.2rem;}}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700; color:#79242f;
}
@media only screen and (max-width:800px){.w-100{display: none;}}

  @media only screen and (max-width:1000px){
  .h1{font-size:1.75rem !important;}

    }

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}
